<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header'); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre</h1>
            <p>Olá me chamo Teste</p>
            <p><%= subtitle %></p>
        </div>
        <ul>
            <% qualitys.forEach(function(quality){ %>
                <li><Strong><%= quality.title %></Strong><%= quality.message %></li>

            <% }) %>

        </ul>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>